*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    width: 1366px;
    margin: 0 auto;
}

.text-center{
    text-align: center;
}

.mt-16{
    margin-top: 16px;
}
.clear{
    clear: both;
}

p {
    font-weight: BOLD;
}


/* CSS for header */

#header{
    position: absolute;
    z-index: 1;
    width: 1366px;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 3px #ccc;
}

.header__head{
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    height: 80px;
}

.header__nav-left{
  flex:8;
}
.header__nav-left li{
    list-style-type: none;
    display: inline;
    margin: 0.25rem 0.5rem;
    border-left: 1px solid #000000;
    padding-left: 16px;
}

.header__nav-left li a{
    color: #000;
    text-decoration: none;
    font-size: 16px;
}

.header__nav-left li:first-child{
    color: #000000;
    font-weight: bold;
    border-left: none;
}

.header__nav-right{
 flex:2;
}

.header__nav-right a{
    margin-right: 1rem;
    font-size: 16px;
    text-decoration: none;
    color: #000;
}

.header__nav-right button{
    margin-left: 10px;
    font-size: 20px;
    width: 48px;
    height: 48px;
    background-color: unset;
    border: none;
}

.header__nav-right button:hover{
    cursor: pointer;
    font-size: 30px;
}


/* CSS for slider */

#slider{
     background-image: url(../img/img/anhnen.png);
     background-size: 100%;
     background-repeat: no-repeat;
     height: 630px;
     position: relative;
     width: 100%;
}

/* CSS for Slider-BanhMy */
#slider-banhmy{
    background-image: url(../img/img/banhmi.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 630px;
    position: relative;
}



/* CSS for Content */

#content{
  width: 80%;
  margin: 2rem auto;
}

@font-face{
    src:url(../font.ttf);
    font-family: font-title;
}

.content__title{
    font-family: font-title;
    font-size: 56px;
}
.content__text{
    opacity: 0.8;
    font-size: 16px;
}

.content__list-img{
display: flex;
justify-content: space-around;
align-items: center;
margin-top: 48px;
}
.content__picture{
    margin: 0 16px;
}

.content__picture img{
    width: 100%;
    border-radius: 6px;
}

.content__picture button{
    margin-top: 32px;
    background-color: unset;
    border: none;
    background-color: #00a2ff;
    border-radius: 6px;
    color: #fff;
    padding: 8px;
    font-size: 16px;
    width: 150px;
}

.content__picture button:hover{
    opacity: 0.7;
    cursor: pointer; 
}

/* CSS for DuLich */
.img-phuquoc{
    display: flex;
    justify-content: space-between;
}

.img-phuquoc img{
    width: 48%;
    margin: 20px 0;
    border-radius: 4px;
}

.content__text-title{
    font-size: 22px;
    margin: 28px 0;
}



/* CSS for content banh my */
#content-banh-my{
        width: 80%;
        margin: 0 auto;
}
.content-title{
    margin: 4rem 0 2rem 0;
    font-family: font-title;
    font-size: 42px;
}
.img-banh-my{
    width: 50%;
    float: left;
    height: 300px;
    margin-right: 24px;
    margin-bottom: 8px;
}

.content-banhmy-text{

}
.banhmy-title{
    font-size: 48px;
    font-weight: bold;
}
.banhmy-text{
font-size: 16px;
line-height: 1.4;
margin-top: 16px;
}


.content-pho{
    margin-top: 48px;
}

.img-pho{
    width: 50%;
    float: right;
    height: 300px;
    margin-left: 24px;
    margin-bottom: 8px;
}

.content-list-food{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}
.img-footer{
    width: 80%;
    margin-left: 24px;
}
.img-footer:first-child{
    margin-left: 0;
}

.img-footer img{
    width: 100%;
}
.img-footer p{
    margin-top: 16px;
    font-size: 16px;
    font-weight: 600;
}
/* CSS for footer */

#footer{
width: 100%;
background-color: #184d91;
margin-top: 5rem;
}

.contact{
        display: flex;
        justify-content: space-around;
        padding-top: 32px;
        align-content: center;
}

.contact a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

.contact a i{
    padding-right: 12px;
}


.designed-by{
    padding: 32px 0;
    color: #fff;
}

.designed-by a{
    color: #fff;
    font-weight: initial;
}

.designed-by a:hover{
    opacity: 0.7;
}



/* CHart */

.ct-series-a .ct-slice-pie {
    fill: hsl(100, 20%, 50%);
    /* filling pie slices */
    stroke: white;
    /*giving pie slices outline */
    stroke-width: 5px;
    /* outline width */
}

.ct-series-b .ct-slice-pie {
    fill: hsl(10, 40%, 60%);
    stroke: white;
    stroke-width: 5px;
}

.ct-series-c .ct-slice-pie {
    fill: hsl(120, 30%, 80%);
    stroke: white;
    stroke-width: 5px;
}

.ct-series-d .ct-slice-pie {
    fill: hsl(90, 70%, 30%);
    stroke: white;
    stroke-width: 5px;
}

.ct-series-e .ct-slice-pie {
    fill: hsl(60, 140%, 20%);
    stroke: white;
    stroke-width: 5px;
}